@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --wht-color: #fefefe;      /* Arrière-plan des éléments clairs (cartes, header) */
    --text-color : #362336;   /* Texte sombre (sur fond blanc) */
    --bg-color: #1a111a;      /* Arrière-plan général sombre (body) */
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
    font-family: "source sans 3", sans-serif;
    color: var(--text-color);
}

h1, h2, h3{
    font-family: "IBM Plex Sans", sans-serif;
}
.header{
    background-color: var(--wht-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    gap: 20px;
    width: 100%;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
}
.header nav{
    margin-right: 30px;
}
.header a{
    text-decoration: none;
    color: var(--text-color);
}
header{
    margin-left: 30px;
}
nav{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
}

.item{
    background-color: var(--wht-color);
    border-radius: 10px;
    padding-bottom: 5px;
    min-height: 350px;
    max-height: 350px;
}

.galery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.item a img{
    width: 100%;
    height: auto;
    display: block;
}

.content{
    margin-top: 4rem;
}

.filtres input[type="search"],
.filtres select {
    /* Styles des champs de saisie et de sélection */
    padding: 10px;
    border: 2px solid var(--text-color);
    background-color: var(--wht-color);
    color: var(--text-color);
    border-radius: 5px;
    font-size: 1rem;
}

.filtres button[type="submit"],
.filtres a {
    /* Styles des boutons et liens d'action */
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}
.tag-list {
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    color: var(--text-color)
}
.tag-list li {
    display: inline;
    margin-right: 10px;
}
.tag-list li a {
    text-decoration: none;
    color: var(--text-color);
    padding: 5px 10px;
    border: 1px solid var(--text-color);
    border-radius: 5px;
}