*{
    margin: 0;
    padding: 0;
}

:root {
    --wht-color: aliceblue;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b8ccd7;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
}

.header{
    background-color: var(--wht-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 10px;
    gap: 20px;
    width: 100%;    
}

main .content{
    min-width: 100%;
}


.item{
    background-color: var(--wht-color);
}